.about{
    text-align: center;
}
.profile-details{
    display: flex;
}
.profile-photo img{
    border: 2px solid #891ba4;
    border-radius: 50%;
    padding: 5px;
}
.profile-content{
    margin-left: 40px;
    text-align: left;
}
.profile-content h3{
    font-size: 24px;
    margin-bottom: 5px;
}
.profile-content small{
    font-size: 14px;
}