.header-area{
    background-color: #ba55d3;
    position: sticky;
    top: 0;
    z-index: 99;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
}
.nav-bar ul a:hover{
    text-decoration: underline;
}

.register-btn{
    border: 1px solid #891ba4;
    padding: 8px 18px;
    border-radius: 20px;
    background-color: white;
    color: #891ba4!important;
}
.logout-btn{
    margin-left: 35px;
    padding: 10px 24px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent ;
    transition: all 0.3s;
}
.logout-btn:hover{
    background-color: #e8a4f9;
    color: #000;
}